.forgetPass {
    margin-top: 100px;
    padding: 20px;
    background-color: #fffbef;
    color: #6b3600;
    border-radius: 25px;

    max-width: 500px;
}

.forgetPass-top {
    display: flex;
    justify-content: space-between;
}

.forgetPass-top-miras {
    font-family: "AlmendraRegular";
}

.forgetPass-top-title {
    font-family: "Allura";
}

.forgetPass-line {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.5);
    width: 90% !important;
    margin-bottom: 20px;
}


.forgetPass-proccess-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.forgetPass-button {
    border: none;
    padding: 15px 30px;
    margin-top: 15px;
    background-color: #b36738;
    font-size: 16px;
    color: #fffbef;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;

    margin-bottom: 20px;
}

.forgetPass-button:hover {
    background-color: #94552e;
}

.forgetPass-proccess-buttons p {
    width: 100%;
    text-align: left;
    margin-bottom: -10px;
    margin-left: 20px;
}

.forgetPass-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgetPass-bottom p {
    text-align: right;
    max-width: 200px;
    font-size: 14px;
}


@media screen and (max-width: 428px) {
    .forgetPass {
        margin: 100px 10px 0 10px;
    }

    .forgetPass-proccess-buttons {
        margin-bottom: 20px;
    }

    .forgetPass-button {
        padding: 12px 20px;
        margin-top: 12px;
        font-size: 12px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .forgetPass-proccess-buttons p {
        margin-bottom: -10px;
        margin-left: 0;
    }


    .forgetPass-desc {
        font-size: 12px;
    }

    .forgetPass-bottom p {
        font-size: 10px;
    }
}