.login {
    margin-top: 100px;
    padding: 20px;
    background-color: #fffbef;
    color: #6b3600;
    border-radius: 25px;
}
.login-top {
    display: flex;
    justify-content: space-between;
}
.login-top-miras {
    font-family: "AlmendraRegular";
}
.login-top-title {
    font-family: "Allura";
}
.login-line {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.5);
    width: 90% !important;
    margin-bottom: 20px;
}


.login-proccess-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.login-button {
    border: none;
    padding: 15px 30px;
    margin-top: 15px;
    background-color: #b36738;
    font-size: 16px;
    color: #fffbef;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;

    margin-bottom: 20px;
}
.login-button:hover{
    background-color: #94552e;
}

.login-proccess-buttons p {
    width: 100%;
    text-align: left;
    margin-bottom: -10px;
    margin-left: 20px;
}


@media screen and (max-width: 428px) {
    .login {
        margin: 100px 10px 0 10px;
    }

    .login-proccess-buttons {
        margin-bottom: 20px;
    }

    .login-button {
        padding: 12px 25px;
        margin-top: 12px;
        font-size: 12px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .login-proccess-buttons p {
        margin-bottom: -10px;
        margin-left: 0;
    }
}