.register {
    margin-top: 100px;
    padding: 20px;
    background-color: #fffbef;
    color: #6b3600;
    border-radius: 25px;

    max-width: 500px;
}

.register-top {
    display: flex;
    justify-content: space-between;
}

.register-top-miras {
    font-family: "AlmendraRegular";
}

.register-top-title {
    font-family: "Allura";
}

.register-line {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.5);
    width: 90% !important;
    margin-bottom: 20px;
}


.register-proccess-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.register-button {
    border: none;
    padding: 15px 30px;
    margin-top: 15px;
    background-color: #b36738;
    font-size: 16px;
    color: #fffbef;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;

    margin-bottom: 20px;
}

.register-button:hover {
    background-color: #94552e;
}

.register-proccess-buttons p {
    width: 100%;
    text-align: left;
    margin-bottom: -10px;
    margin-left: 20px;
}

.registerAlert {
    text-align: center;
    background-color: rgba(197, 0, 0, 0.792);
    color: #fff;
    border-radius: 5px;
    border: 3px solid rgb(255, 131, 131);
    font-size: 14px;
    padding: 5px;
}

@media screen and (max-width: 428px) {
    .register {
        margin: 100px 10px 0 10px;
    }

    .register-proccess-buttons {
        margin-bottom: 20px;
    }

    .register-button {
        padding: 12px 25px;
        margin-top: 12px;
        font-size: 12px;
        border-radius: 25px;
        margin-bottom: 20px;
    }

    .register-proccess-buttons p {
        margin-bottom: -10px;
        margin-left: 0;
    }

    .registerAlert {
        font-size: 12px;
    }
}